In [ ]:
import pandas as pd
import numpy as np
from evidently import Report, DataDefinition,Dataset
from evidently.presets import DataDriftPreset, DataSummaryPreset 

employment_train = pd.read_csv("train_employment.csv")
employment_test = pd.read_csv("test_employment.csv")





# leave only reasonable columns
employment_train = employment_train.drop(['Employee ID'], axis=1)
employment_test = employment_test.drop(['Employee ID'], axis=1)

ImportError: cannot import name 'ColumnMapping' from 'evidently' (c:\Users\User\Desktop\training\Evidently\.venv\lib\site-packages\evidently\__init__.py)

In [6]:
employment_train.head()

,Age,Gender,Years at Company,Job Role,Monthly Income,Work-Life Balance,Job Satisfaction,Performance Rating,Number of Promotions,Overtime,...,Number of Dependents,Job Level,Company Size,Company Tenure,Remote Work,Leadership Opportunities,Innovation Opportunities,Company Reputation,Employee Recognition,Attrition
0,31,Male,19,Education,5390,Excellent,Medium,Average,2,No,...,0,Mid,Medium,89,No,No,No,Excellent,Medium,Stayed
1,59,Female,4,Media,5534,Poor,High,Low,3,No,...,3,Mid,Medium,21,No,No,No,Fair,Low,Stayed
2,24,Female,10,Healthcare,8159,Good,High,Low,0,No,...,3,Mid,Medium,74,No,No,No,Poor,Low,Stayed
3,36,Female,7,Education,3989,Good,High,High,1,No,...,2,Mid,Small,50,Yes,No,No,Good,Medium,Stayed
4,56,Male,41,Education,4821,Fair,Very High,Average,0,Yes,...,0,Senior,Medium,68,No,No,No,Fair,Medium,Stayed

In [22]:
drift_report = Report(metrics=[DataDriftPreset(), DataSummaryPreset()])
eval = drift_report.run(reference_data=eval_data_1, current_data=eval_data_2)
# some columns are not correctly classified


eval.save_html("employment_report.html")